<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>لیست مورد علاقه ها</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active">لیست علاقه مندی</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="wishlist-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                    <tr class="table-head">
                        <th scope="col">عکس</th>
                        <th scope="col">نام کالا</th>
                        <th scope="col">قیمت</th>
                        <th scope="col">مجود یا نامجود</th>
                        <th scope="col">رسیدگی</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="">رنگ پلاستیک دبه سحر</a>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <p>موجود</p>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">128.000 تومان</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon mr-1">
                                            <i class="icon-close"></i>
                                        </a>
                                        <a [routerLink]="" class="cart">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td><h2>128.000 تومان</h2></td>
                        <td >
                            <p>موجود</p>
                        </td>
                        <td>
                            <a [routerLink]="" class="icon mr-3">
                                <i class="icon-close"></i>
                            </a>
                            <a [routerLink]="" class="cart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="">رنگ براق گالن سحر
                        </a>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <p>موجود</p>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">69.000 تومان</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon mr-1">
                                            <i class="icon-close"></i>
                                        </a>
                                        <a [routerLink]="" class="cart">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td><h2>69.000 تومان</h2></td>
                        <td >
                            <p>موجود</p>
                        </td>
                        <td>
                            <a [routerLink]="" class="icon mr-3">
                                <i class="icon-close"></i>
                            </a>
                            <a [routerLink]="" class="cart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="">تینر روغنی </a>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <p>موجود</p>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">15.000 تومان</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon mr-1">
                                            <i class="icon-close"></i>
                                        </a>
                                        <a [routerLink]="" class="cart">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td><h2>15.000 تومان</h2></td>
                        <td >
                            <p>موجود</p>
                        </td>
                        <td>
                            <a [routerLink]="" class="icon mr-3">
                                <i class="icon-close"></i>
                            </a>
                            <a [routerLink]="" class="cart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row wishlist-buttons">
            <div class="col-12">
                <a [routerLink]="" class="btn btn-solid">ادامه خرید</a>
                <a [routerLink]="" class="btn btn-solid">پرداخت</a>
            </div>
        </div>
    </div>
</section>
<!--section end-->