<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>محصولات ما</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active" aria-current="page">محصولات</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/1.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>رنگ براق</h3>
                        <p>رنگ های براق درجه 1 از برندهای برتر رنگسازی....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/3.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>رنگ مات</h3>
                        <p>انواع رنگ های مات </p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/5.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>رنگ نیمه براق</h3>
                        <p>انواع رنگ های نیمه مات ....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/6.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>پوشرنگ</h3>
                        <p>انواع پوشرنگ و آستری....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/7.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>ضدزنگ</h3>
                        <p>انواع ضد زنگ....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/8.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>تینر</h3>
                        <p>انواه تینر ها و حلال ها....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/9.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>سنباده</h3>
                        <p>انواع سنباده و پولیش ها....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/11.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 محصول)</h4>
                        <h3>قلم مو</h3>
                        <p>انواع قلم مو ها و غلطک ها....</p>
                        <a [routerLink]="" class="btn btn-outline">خرید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->