<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2> مقایسه کالا</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active" aria-current="page">مقایسه</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="compare-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="compare-page">
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="th-compare">
                                <td>رسیدگی</td>
                                <th class="item-row"><button type="button" class="remove-compare" > حذف </button></th>
                                <th class="item-row"><button type="button" class="remove-compare" > حذف </button></th>
                                <th class="item-row"><button type="button" class="remove-compare" > حذف </button></th>
                                <th class="item-row"><button type="button" class="remove-compare" > حذف </button></th>
                            </tr>
                            </thead>
                            <tbody id="table-compare">
                            <tr>
                                <th class="product-name">نام کالا</th>
                                <td class="grid-link__title"> سحر براق کیلو  </td>
                                <td class="grid-link__title"> نیپون براق کیلو  </td>
                                <td class="grid-link__title"> هادی براق کیلو  </td>
                                <td class="grid-link__title"> هاویلوکس براق کیلو  </td>
                            </tr>
                            <tr>
                                <th class="product-name ">عکس کالا</th>
                                <td class="item-row">
                                    <img src="assets/images/pro3/1.jpg" alt="" class="featured-image">
                                    <div class="product-price product_price"> <strong>قیمت: </strong><span>22.000 تومان</span></div>
                                    <form class="variants clearfix">
                                        <input type="hidden">
                                        <button title="Add to Cart" class="add-to-cart btn btn-solid">اضافه به سبد خرید</button>
                                    </form>
                                    
                                </td>
                                <td class="item-row">
                                    <img src="assets/images/pro3/33.jpg" alt="" class="featured-image">
                                    <div class="product-price product_price"> <strong>قیمت: </strong><span>22.000 تومان</span></div>
                                    <form class="variants clearfix">
                                        <input type="hidden">
                                        <button title="Add to Cart" class="add-to-cart btn btn-solid">اضافه به سبد خرید</button>
                                    </form>
                                    
                                </td>
                                <td class="item-row">
                                    <img src="assets/images/pro3/35.jpg" alt="" class="featured-image">
                                    <div class="compare-lable">
                                        <span class="lable4">on sale</span>
                                    </div>
                                    <div class="product-price product_price"> <strong>قیمت: </strong><span>22.000 تومان</span></div>
                                    <form class="variants clearfix">
                                        <input type="hidden">
                                        <button title="Add to Cart" class="add-to-cart btn btn-solid">اضافه به سبد خرید</button>
                                    </form>
                                    
                                </td>
                                <td class="item-row">
                                    <img src="assets/images/pro3/35.jpg" alt="" class="featured-image">
                                    <div class="product-price product_price"> <strong>قیمت: </strong><span>22.000 تومان</span></div>
                                    <form class="variants clearfix">
                                        <input type="hidden">
                                        <button title="Add to Cart" class="add-to-cart btn btn-solid">اضافه به سبد خرید</button>
                                    </form>
                                    
                                </td>
                            </tr>
                            <tr>
                                <th class="product-name">جزئیات محصول</th>
                                <td class="item-row">
                                    <p class="description-compare"> رنگ براق با بالاترین کیفیت روز شرکت های رنگسازی ،تولید شده در داخل ،کاملا قابل شستشو و با دوام </p>
                                </td>
                                <td class="item-row">
                                    <p class="description-compare"> رنگ براق با بالاترین کیفیت روز شرکت های رنگسازی ،تولید شده در داخل ،کاملا قابل شستشو و با دوام </p>
                                </td>
                                <td class="item-row">
                                    <p class="description-compare"> رنگ براق با بالاترین کیفیت روز شرکت های رنگسازی ،تولید شده در داخل ،کاملا قابل شستشو و با دوام </p>
                                </td>
                                <td class="item-row">
                                    <p class="description-compare"> رنگ براق با بالاترین کیفیت روز شرکت های رنگسازی ،تولید شده در داخل ،کاملا قابل شستشو و با دوام </p>
                                </td>
                            </tr>
                            <tr>
                                <th class="product-name"> موجود/ناموجود </th>
                                <td class="available-stock">
                                    <p> Available In stock </p>
                                </td>
                                <td class="available-stock">
                                    <p> Available In stock </p>
                                </td>
                                <td class="available-stock">
                                    <p> Available In stock </p>
                                </td>
                                <td class="available-stock">
                                    <p> Available In stock </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->