<!-- home section -->
<section class="slider-section p-0 home-image">
    <div class="slider-content">
        <div>
            <img src="assets/images/landing-page/icon-image/logo.png">
            <h3>فروشگاه آنلاین رنگ ابزار </h3>
            <h3> تحویل <span> رایگان </span> هم اکنون در شهر تهران</h3>
            <p>شما در هرکجای مناطق 22 گانه ی تهران می توانید به ازای خرید بالای دویست هزار تومان خرید خود را رایگان تحویل بگیرید

            </p>
            <a href="home/four" class="btn btn-primary"> خرید فوری </a>
        </div>
    </div>
    <div id="section06" class="demo">
        <a href="#demo-section"><span></span>آشنایی بیشتر با رنگ ابزار</a>
    </div>
</section>


<!-- Demo section -->
<section id="demo-section" class="demo-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-text text-center">
                    <h2>انواع رنگ </h2>
                    <h3>ساختمانی</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo1">
                    </div>
                    <div class="demo-text">
                        <h4><span>رنگ های</span>   آکریلیک </h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                            <a href="home/four" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo2">
                    </div>
                    <div class="demo-text">
                        <h4><span>رنگ های</span> پلاستیک</h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                            <a href="home/four" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo3">
                    </div>
                    <div class="demo-text">
                        <h4><span>رنگ های</span>  روغنی</h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                            <a href="home/four" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo4">
                    </div>
                    <div class="demo-text">
                        <h4><span>مثال</span> نیپون</h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                           <a href="home/four" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Product page section -->
<div class="tab-section">
    <section class="demo-section ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-text text-center">
                        <h2>انواع ابزار </h2>
                        <h3>  ...ابزار نقاشی ساختمان، بتونه و زیر سازی و غیره </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                    <div class="set-position">
                        <div class="layout-container demo27">
                        </div>
                        <div class="demo-text">
                            <h4>ابزار نقاشی</h4>
                            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                                <a href="home/col-left/product/1" target="_blank" class="btn new-tab-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                    <div class="set-position">
                        <div class="layout-container demo28">
                        </div>
                        <div class="demo-text">
                            <h4>ابزار زیرسازی</h4>
                            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                                 <a href="home/col-right/product/1" target="_blank" class="btn new-tab-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                    <div class="set-position">
                        <div class="layout-container demo29">
                        </div>
                        <div class="demo-text">
                            <h4>ابزار برقی</h4>
                            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                                <a href="home/column/product/1" target="_blank" class="btn new-tab-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 text-center demo-effects">
                    <div class="set-position">
                        <div class="layout-container demo30">
                        </div>
                        <div class="demo-text">
                            <h4>ابزار برق کشی</h4>
                            <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                                <a href="home/column/product/1" target="_blank" class="btn new-tab-btn">خرید</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<!-- Shop layout section -->
<section class="demo-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-text text-center">
                    <h2>انواع بسته های نقاشی </h2>
                    <h3>پکیج های کامل نقاشی آپارتمان</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo22">
                    </div>
                    <div class="demo-text">
                        <h4>پکیج آپارتمان 60 متری</h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                            <a href="home/left-sidebar/collection/men" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo23">
                    </div>
                    <div class="demo-text">
                        <h4>پکیج آپارتمان 90 متری</h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                            <a href="home/no-sidebar/collection/men" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12 text-center demo-effects">
                <div class="set-position">
                    <div class="layout-container demo24">
                    </div>
                    <div class="demo-text">
                        <h4>پکیج آپارتمان 120 متری</h4>
                        <div class="btn-group demo-btn" role="group" aria-label="Basic example">
                            <a href="home/right-sidebar/collection/men" target="_blank" class="btn new-tab-btn">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<!-- lookbook section -->
<div class="tab-section lookbook-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="lookbook">
                    <div>
                        <img src="assets/images/landing-page/l-icon.png" alt="" class="img-fluid">
                        <div class="title-text text-center">
                            <h3>بلاگ آموزش رنگ آمیزی و نقاشی ساختمان</h3>
                        </div>
                        <p>کاربرد رنگ ها در دکوراسیون داخلی</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/landing-page/lookbook.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<!-- special feature section -->
<section class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-text text-center">
                    <h3>خدمات ویژه</h3>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="row">
                <div class="col-sm-6 col-12 p-r-0 set-padding">
                    <div class="feature-product">
                        <img src="assets/images/landing-page/feature/s1.gif" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-6 col-12 align-self-center align-right">
                    <div class=" bg-brown">
                        <h2>بلاگ آموزش رنگرزی</h2>
                        <div class="set-border"></div>
                        <h5>در این وبلاگ شما می توانید خیلی جامع و کامل با روش های رنگرزی انواع رنگ آشنا شوید و نقاش خود باشید.
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="row">
                <div class="col-sm-6 col-12 align-self-center set-order">
                    <div class=" bg-brown">
                        <h2>تنوع رنگ و قابلیت شستشو</h2>
                        <div class="set-border"></div>
                        <h5>این تنوع در جنس رنگ‌ها سبب شده است تا انتخاب رنگ مناسب برای کاربری‌های مختلف به یک انتخاب بسیار تخصصی تبدیل شود که لازم است تا جنس ماده‌ای که رنگ روی آن زده می‌شود و همچنین کاربری آن، شرایط محیط رنگ آمیزی و … در نظر گرفته شود.
                        </h5>
                    </div>
                </div>
                <div class="col-sm-6 col-12 p-l-0 set-padding">
                    <div class="feature-product">
                        <img src="assets/images/landing-page/feature/s2.gif" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="row">
                <div class="col-sm-6 col-12 p-r-0 set-padding">
                    <div class="feature-product">
                        <img src="assets/images/landing-page/feature/s3.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-6 col-12 align-self-center align-right">
                    <div class=" bg-brown">
                        <h2>شیوه های پرداخت هزینه</h2>
                        <div class="set-border"></div>
                        <h5> 1. پرداخت از طریق درگاه اینترنتی
                                2. پرداخت درمحل پس از دریافت کالا (سراسر کشور)
                                3. پرداخت از طریق کارت به کارت 

                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="row">
                <div class="col-sm-6 col-12 align-self-center set-order">
                    <div class=" bg-brown">
                        <h2>تحویل فوری تا 12 ساعت</h2>
                        <div class="set-border"></div>
                        <h5>فروشگاه اینترنتی رنگ ابزار به عنوان اولین فروشگاه اینترنتی رنگ ابزار کشور جهت رفاه حال مشتریان خود، علاوه بر امکان ارسال عادی سفارش طی یک روز کاری، امکان ارسال فوری سفارش در کمتر از 12  ساعت را نیز برای مشتریان خود فراهم نموده است. بر این اساس مشتریانی که به هر دلیلی تمایل به دریافت سفارش خود بصورت فوری دارند، می توانند با انتخاب این گزینه، سفارش خود را در کمتر از 12 ساعت در منزل یا محل کار خود دریافت نمایند.
                        </h5>
                    </div>
                </div>
                <div class="col-sm-6 col-12 p-l-0 set-padding">
                    <div class="feature-product">
                        <img src="assets/images/landing-page/feature/s4.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="row">
                <div class="col-sm-6 col-12 p-r-0 set-padding">
                    <div class="feature-product">
                        <img src="assets/images/landing-page/feature/1.5.gif" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-6 col-12 align-self-center align-right">
                    <div class=" bg-brown">
                        <h2>تماس مستقیم با ما 
                        </h2>
                        <div class="set-border"></div>
                        <h5> شنبه تا چهارشنبه 
                                از 9:00 تا 13:00 
                                و 14:00 تا 16:30 
                                به غیر از روزهای تعطیل
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- key feature section -->
<section class="key-feature section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="demo-texts text-center">
                    <h2>برند ها و شرکت های رنگسازی</h2>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-7"></div>
                        </div>
                        <h5>پارس اشن</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-1"></div>
                        </div>
                        <h5>تست</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-2"></div>
                        </div>
                        <h5>هاویلوکس</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-3"></div>
                        </div>
                        <h5>رنگسازی ایران</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-4"></div>
                        </div>
                        <h5>هادی رنگ</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-5"></div>
                        </div>
                        <h5>اورانوس</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-6"></div>
                        </div>
                        <h5>نیپون</h5>
                    </div>
                </div>
            </div>
           
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-8"></div>
                        </div>
                        <h5>ریف</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-9"></div>
                        </div>
                        <h5>پارس بهار</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-10"></div>
                        </div>
                        <h5>رنگ سحر</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-11"></div>
                        </div>
                        <h5>سمن</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-3 col-6">
                <div class="theme-collection">
                    <div>
                        <div class="image-contain">
                            <div class="set-image image-12"></div>
                        </div>
                        <h5>یشم</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- support section -->
<section class="support-section">
    <div class="support-text">
        <img src="assets/images/landing-page/support.png" alt="" class="img-fluid">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="support-content">
                    <div>
                        <img src="assets/images/landing-page/feature/s6.png" alt="" class="img-fluid">
                        <h4>خدمات پس از خرید</h4>
                        <p>در صورت بروز مشکل با ما تماس بگیرید</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="support-content">
                    <div>
                        <img src="assets/images/landing-page/feature/s7.png" alt="" class="img-fluid">
                        <h4>نرم افزار قابل نصب رنگ ابزار بر روی گوشی همراه</h4>
                        <p>به زودی</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="support-content">
                    <div>
                        <img src="assets/images/landing-page/feature/s8.png" alt="" class="img-fluid">
                        <h4>سئوالات پرسیده شده ی متداول</h4>
                        <p>در این بخش شما می توانید سئوالاتی که به صورت متداول در مورد رنگ و رنگ آمیزی پرسیده می شود ببنید</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="support-image">
        <img src="assets/images/landing-page/support-bg.png" alt="" class="img-fluid">
    </div>
</section>

<!-- Rate section -->
<section class="rate-section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/images/landing-page/logo.png">
                <h2>خوشحال میشویم میزان رضایت خود رو از این وب سایت با دادن ستاره های بیشتر به ما منتقل کنید </h2>
                <ul>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="btn btn-primary">ستاره بدید</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer section -->
<section class="footer-section p-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer">
                    <p>powered by : mossi.XYZ
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>