<!-- Parallax banner -->
<section class="p-0">
    <div class="full-banner parallax-banner15 parallax text-left p-left">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h2>جشنواره تابستانه</h2>
                        <h3>رنگ ابزار</h3>
                        <h4>با کلی پیشنهادهای ویژه </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Parallax banner end -->