<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2> با سپاس از خرید شما</h2>
                    <p> پرداخت شما با موفقیت انجام شد و سبد خرید شما در راه است</p>
                    <p> 267676GHERT105467 کد رهگیری</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>جزئیات خرید شما</h3>
                    <div class="row product-order-detail">
                        <div class="col-3">
                            <img src="assets/images/pro3/1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>نام محصول</h4>
                                <h5>رنگ سحر براق</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>مقدار</h4>
                                <h5> گالن 1</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>قیمت</h4>
                                <h5>تومان 45.000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row product-order-detail">
                        <div class="col-3">
                            <img src="assets/images/pro3/1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>نام محصول </h4>
                                <h5>رنگ آکرلیک نیمه براق نیپون</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>مقدار</h4>
                                <h5>5 دبه </h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>قیمت</h4>
                                <h5>168.000 تومان</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>مجموع جنس <span>تومان 225.000</span></li>
                            <li>تحویل  <span> تومان 12.000</span></li>
                            <li>مالیات بر ارزش افزوده <span>تومان 1000</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>مجموع کل <span>238.000 تومان</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>خلاصه </h4>
                        <ul class="order-detail">
                            <li>کد رهگیری  5563853658932</li>
                            <li>روز سفارش  18 مهر 1398</li>
                            <li>مجموع سفارش: 238.000</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>آدرس تحویل</h4>
                        <ul class="order-detail">
                            <li>تهران</li>
                            <li>تجریش ، خیابان فرشته، پلاک 14.</li>
                            <li>شماره تماس. 022548565</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>شیوه پرداخت فاکتور</h4>
                        <p>پرداخت هزینه به صورت نقدی در مکان تحویل ممکن است.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>روز پیشپبنی شده تحویل </h3>
                            <h2>   مهر1398  18</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->