<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>ورود به حساب کاربری</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active">ورود</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>ورود به حساب کاربری</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-group">
                            <label for="email">آدرس ایمیل</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <label for="review">پسورد</label>
                            <input type="password" class="form-control" id="review" placeholder="Enter your password"
                                required="">
                        </div>
                        <button class="btn btn-solid">ورود</button>
                        <button class="btn btn-danger float-left" (click)="gLogin()"> ورود از طریق گوگل</button>

                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>ثبت نام</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">ساخت حساب کاربری جدید</h6>
                    <p>با ساخت حساب کاربری، به راحتی می توانید هرزمانی وارد حساب خود شده و درخواست ارسال محصولات مورد
                        علاقه خود با کمترین زمان ممکن شوید ، برای ساخت حساب جدید کلیک کنید .</p>
                    <button class="btn btn-solid">ساخت حساب کاربری جدید</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->