<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>بلاگ</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active">بلاگ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space  blog-page">
    <div class="container">
        <div class="row">
            <!--Blog List start-->
            <div class="col-xl-9 col-lg-8 col-md-7 ">
                <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]=""><img src="assets/images/blog/6.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>25 فروردین 1389</h6>
                                <a [routerLink]="'/blog/details'"><h4>مقدمه ای در باب شناخت رنگ</h4></a>
                                <ul class="post-social">
                                    <li>نوشته شده توسط  : مهشید اسدالهی </li>
                                    <li><i class="fa fa-heart"></i>  5 هیت  </li>
                                    <li><i class="fa fa-comments"></i> 10  نظر</li>
                                </ul>
                                <p>دراین سری مقالات سعی شده به زیبایی شناختی رنگ برای استفاده نقاشان، طراحان و کسانی که به این زمینه علاقه مند هستند، پرداخته شود. برای نقاش نمود رنگ بیشتر تعیین کننده است تا ذات رنگ که در فیزیک و شیمی مورد مطالعه قرار میگیرد. زیرا نمود رنگ آن چیزی است که چشم می بیند.

                                        ممکن است این سوال برایتان پیش آید که " آیا در قلمرو زیبایی شناختی رنگ قواعد و قوانینی کلی وجود دارد و یا اینکه درک زیبایی شناختی صرفا تابع عقاید ذهن است؟"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                    <div class="col-xl-6">
                        <div class="blog-left">
                            <a [routerLink]="'/blog/details'"><img src="assets/images/blog/12.jpg" class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="blog-right">
                            <div>
                                <h6>25 فروردین 1398</h6>
                                <a [routerLink]="'/blog/details'"><h4>ذات رنگ و نمود رنگ</h4></a>
                                <ul class="post-social">
                                    <li>نوشته شده توسط  : مهشید اسدالهی </li>
                                    <li><i class="fa fa-heart"></i>  5 هیت  </li>
                                    <li><i class="fa fa-comments"></i> 10  نظر</li>
                                </ul>
                                <p>منظور از ذات رنگ مفهومی است که در ذهن انسان برای هر فرکانس رنگی ایجاد میشود. چشم و مغز از طریق مقایسه و کنتراست به درک مشخص میرسند.
                                        نمود رنگ واقعیت روانشناختی و فیزیولوژیکی رنگ است که میتواند با ذات رنگ متفاوت باشد.
                                        برای روشن شدن مسئله به مثال های زیر توجه کنید:
                                        .</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blog-media">
                        <div class="col-xl-6">
                            <div class="blog-left">
                                <a [routerLink]=""><img src="assets/images/blog/13.jpg" class="img-fluid" alt=""/></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="blog-right">
                                <div>
                                    <h6>25 فروردین 1389</h6>
                                    <a [routerLink]="'/blog/details'"><h4>مقدمه ای در باب شناخت رنگ</h4></a>
                                    <ul class="post-social">
                                        <li>نوشته شده توسط  : مهشید اسدالهی </li>
                                        <li><i class="fa fa-heart"></i>  5 هیت  </li>
                                        <li><i class="fa fa-comments"></i> 10  نظر</li>
                                    </ul>
                                    <p>دراین سری مقالات سعی شده به زیبایی شناختی رنگ برای استفاده نقاشان، طراحان و کسانی که به این زمینه علاقه مند هستند، پرداخته شود. برای نقاش نمود رنگ بیشتر تعیین کننده است تا ذات رنگ که در فیزیک و شیمی مورد مطالعه قرار میگیرد. زیرا نمود رنگ آن چیزی است که چشم می بیند.
    
                                            ممکن است این سوال برایتان پیش آید که " آیا در قلمرو زیبایی شناختی رنگ قواعد و قوانینی کلی وجود دارد و یا اینکه درک زیبایی شناختی صرفا تابع عقاید ذهن است؟"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-media">
                        <div class="col-xl-6">
                            <div class="blog-left">
                                <a [routerLink]="'/blog/details'"><img src="assets/images/blog/14.jpg" class="img-fluid" alt=""/></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="blog-right">
                                <div>
                                    <h6>25 فروردین 1398</h6>
                                    <a [routerLink]="'/blog/details'"><h4>ذات رنگ و نمود رنگ</h4></a>
                                    <ul class="post-social">
                                        <li>نوشته شده توسط  : مهشید اسدالهی </li>
                                        <li><i class="fa fa-heart"></i>  5 هیت  </li>
                                        <li><i class="fa fa-comments"></i> 10  نظر</li>
                                    </ul>
                                    <p>منظور از ذات رنگ مفهومی است که در ذهن انسان برای هر فرکانس رنگی ایجاد میشود. چشم و مغز از طریق مقایسه و کنتراست به درک مشخص میرسند.
                                            نمود رنگ واقعیت روانشناختی و فیزیولوژیکی رنگ است که میتواند با ذات رنگ متفاوت باشد.
                                            برای روشن شدن مسئله به مثال های زیر توجه کنید:
                                            .</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--Blog List start-->
            <!--Blog sidebar start-->
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="blog-sidebar">
                    <div class="theme-card">
                        <h4>آرشیو مقاله ها</h4>
                        <ul class="recent-blog">
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/8.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                        <h6>25 شهریور 1397</h6>
                                        <p>نویسنده : مهشید اسدالهی</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/9.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                            <h6>25 دی 1397</h6>
                                            <p>نویسنده : مهشید اسدالهی</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/3.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                            <h6>25 بهمن 1397</h6>
                                            <p>نویسنده : مهشید اسدالهی</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/4.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                            <h6>25 فروردین 1397</h6>
                                            <p>نویسنده : مهشید اسدالهی</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="img-fluid" src="assets/images/blog/5.jpg" alt="Generic placeholder image">
                                    <div class="media-body align-self-center">
                                            <h6>25 آذر 1397</h6>
                                            <p>نویسنده : مهشید اسدالهی</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="theme-card">
                        <h4>مقاله های پربیننده</h4>
                        <ul class="popular-blog">
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>1398 </span>
                                        <span>شهریور</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>ترکیب رنگ کامپیوتری</h6>
                                        <p>0 نمایش</p>
                                    </div>
                                </div>
                                <P>سیستم تینت یا ترکیب رنگ کامپیوتری به سیستمی گفته می شود که</P>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>1397 </span>
                                        <span>اسفند</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>روانشناسی رنگ </h6>
                                        <p>2 نمایش</p>
                                    </div>
                                </div>
                                <p>رنگها سراسر زندگی ما را در اختیار داشته و غیر قابل اجتناب هستند </p>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>1396 </span>
                                        <span>تیر </span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>رنگ در دکوراسیون داخلی</h6>
                                        <p>0 نمایش</p>
                                    </div>
                                </div>
                                <p>رنگ که عنصری ترکیبی از نور است به وسیله هر یک از امواجش حسی را پدید می‌آورد </p>
                            </li>
                            <li>
                                <div class="media">
                                    <div class="blog-date">
                                        <span>1397 </span>
                                        <span>مرداد</span>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h6>رنگ در زیبایی نما</h6>
                                        <p>0 نمایش</p>
                                    </div>
                                </div>
                                <p>رنگ که عنصری ترکیبی از نور است به وسیله هر یک از امواجش حسی را پدید می‌آورد</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Blog sidebar start-->
        </div>
    </div>
</section>
<!-- Section ends -->