<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>سبد خرید</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active">سبد خرید</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                    <tr class="table-head">
                        <th scope="col">عکس</th>
                        <th scope="col">نام محصول</th>
                        <th scope="col">قیمت</th>
                        <th scope="col">مقدار/تعداد</th>
                        <th scope="col">رسیدگی</th>
                        <th scope="col">مجموع</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="">سحر براق گالن</a>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="text"  name="quantity" class="form-control input-number" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">95.000 تومان</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon">
                                            <i class="icon-close"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td><h2>95.000 تومان</h2></td>
                        <td >
                            <div class="qty-box">
                                <div class="input-group">
                                    <input type="number"  name="quantity" class="form-control input-number" value="1">
                                </div>
                            </div>
                        </td>
                        <td>
                            <a [routerLink]="" class="icon">
                                <i class="icon-close"></i>
                            </a>
                        </td>
                        <td><h2 class="td-color">453.000 تومان</h2></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="">تینر روغنی گالن</a>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number"  name="quantity" class="form-control input-number" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">15.000 تومان</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon">
                                            <i class="icon-close"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td><h2>15.000 تومان</h2></td>
                        <td >
                            <div class="qty-box">
                                <div class="input-group">
                                    <input type="number"  name="quantity" class="form-control input-number" value="1">
                                </div>
                            </div>
                        </td>
                        <td>
                            <a [routerLink]="" class="icon">
                                <i class="icon-close"></i>
                            </a>
                        </td>
                        <td><h2 class="td-color">150.000 تومان</h2></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg" alt="">
                            </a>
                        </td>
                        <td><a [routerLink]="">بتونه سنگی </a>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number"  name="quantity" class="form-control input-number" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">16.000 تومان</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon">
                                            <i class="icon-close"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td><h2>16.000 تومان</h2></td>
                        <td >
                            <div class="qty-box">
                                <div class="input-group">
                                    <input type="number"  name="quantity" class="form-control input-number" value="1">
                                </div>
                            </div>
                        </td>
                        <td>
                            <a [routerLink]="" class="icon">
                                <i class="icon-close"></i>
                            </a>
                        </td>
                        <td><h2 class="td-color">60.000 تومان</h2></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table cart-table table-responsive-md">
                    <tfoot>
                    <tr>
                        <td>مجموع قیمت :</td>
                        <td><h2> 1.240.000 تومان </h2></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6">
                <a [routerLink]="" class="btn btn-solid">ادامه خرید</a>
            </div>
            <div class="col-6">
                <a [routerLink]="" class="btn btn-solid">پرداخت</a>
            </div>
        </div>
    </div>
</section>
<!--section end-->