<div id="mySidenav" class="sidenav">
    <a [routerLink]="" class="sidebar-overlay" (click)="closeNav()"></a>
    <nav>
      <div (click)="closeNav()">
        <div class="sidebar-back text-left">
          <i class="fa fa-angle-left pr-2" aria-hidden="true"></i> بازگشت
        </div>
      </div>
      <!-- Sample menu definition -->
      <ul id="sub-menu" class="sm pixelstrap sm-vertical ">
        <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ</a>
          <ul class="mega-menu clothing-menu">
            <li>
              <div class="row m-0">
                <div class="col-xl-4">
                  <div class="link-section">
                    <h5>رنگ ساختمانی</h5>
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ روغنی</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ پلاستیک</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ آکرلیک</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">پوشرنگ - آستری</a></li>
                    </ul>
                    <h5>رنگ هنری</h5>
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ روغن </a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ اکریلیک</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ ویترای</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ شیشه</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ انگشتی</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">براق کننده رنگ - وارنیش</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ پارچه</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ تمپرا</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ چاپ</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="link-section">
                    <h5>رنگ استخری</h5>
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ اپوکسی استخر</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ نانو استخر</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">رنگ پلیمری استخر  </a></li>

                    </ul>
                  </div>
                </div>
                <div class="col-xl-4">
                  <a [routerLink]="'/home/left-sidebar/collection/all'" class="mega-menu-banner"><img src="assets/images/mega-menu/fashion.jpg" alt="" class="img-fluid"></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار</a>
          <ul>
            <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار نقاشی ساختمان</a></li>
            <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار باغبانی</a></li>
            <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار زیر سازی</a></li>
            <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار برقی </a>
              <ul>
                <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار برقی نقاشی</a></li>
                <li><a [routerLink]="'/home/left-sidebar/collection/all'">ابزار تعمیر کاری</a></li>
                <li><a [routerLink]="'/home/left-sidebar/collection/all'">لوازم جانبی ابزار برقی </a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li><a [routerLink]="'/home/left-sidebar/collection/all'">ضد زنگ</a>
        </li>

      </ul>
    </nav>
</div>