<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>پروفایل من</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">صفحه اصلی</a></li>
                        <li class="breadcrumb-item active" aria-current="page">پروفایل</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar">
                    <a class="popup-btn">
                        حساب کاربری من
                    </a>
                </div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> بازگشت
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li class="active"><a href='#'>اطلاعات حساب کاربری</a></li>
                            <li><a [routerLink]="">آدرس های من</a></li>
                            <li><a [routerLink]="">سفارش های من</a></li>
                            <li><a [routerLink]="">لیست مورد علاقه های من</a></li>
                            <li><a [routerLink]="">حراج نامه</a></li>
                            <li><a [routerLink]="">حساب کاربری من</a></li>
                            <li><a [routerLink]="">تغییر رمز عبور</a></li>
                            <li class="last"><a [routerLink]="">خروج</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>پروفایل من</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>سلام، مصطفی هاشمی</p>
                            <p>از طریق پروفایل من شما می توانید خلاصه ای از فعالیت ها و درخواست ها و سفارش های خود را زیر نظر داشته باشید،و جزئیات حساب خود را به روز رسانی و تغییر دهید </p>
                        </div>
                        <div class="box-account box-info">
                            <div class="box-head">
                                <h2>جزئیات حساب کاربری</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>تماس با من</h3>
                                            <a [routerLink]="">به روز رسانی</a>
                                        </div>
                                        <div class="box-content">
                                            <h6>مصطفی هاشمی</h6>
                                            <h6>mail4mosi@gmail.com</h6>
                                            <h6><a [routerLink]="">تغییر رمز عبور</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>حراج نامه</h3>
                                            <a [routerLink]="">به روز رسانی</a>
                                        </div>
                                        <div class="box-content">
                                            <p>
                                               در حال حاضر شما مشترک حراج نامه نیستید
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="box">
                                    <div class="box-title">
                                        <h3>آدرس های من</h3>
                                        <a [routerLink]="">مدیریت آدرس ها</a>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>آدرس تحویل</h6>
                                            <address>
                                                در حال حاضر شما آدرس تحویل را وارد نکردید<br>
                                                <a [routerLink]="">به روز رسانی آدرس</a>
                                            </address>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>آدرس دوم</h6>
                                            <address>
                                                در حال حاضر شما آدرس دوم رو وارد نکردید.<br>
                                                <a [routerLink]="">به روز رسانی آدرس</a>
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->