<nav id="main-nav">
  <div class="toggle-nav">
    <i class="fa fa-bars sidebar-bar"></i>
  </div>
  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm pixelstrap sm-horizontal">
    <li>
      <div class="mobile-back text-right">
        بازگشت<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
      </div>
    </li>
    <li class="mega">
      <a [routerLink]="'/blog/left-sidebar'">{{'ماهنامه' }}
        <div class="lable-nav">{{ 'جدید' }}</div>
      </a>
    </li>
    <li><a [routerLink]="">{{ 'ترکیب رنگ کامپیوتری'  }}</a>
      <ul>
        <li><a [routerLink]="">{{ 'معرفی سیستم تینت' }}</a></li>
        <li><a [routerLink]="">{{ 'رنگ های قابل تینت' }}</a></li>
        <li><a [routerLink]="">{{ 'مراحل ترکیب رنگ' }}</a></li>
        <li><a [routerLink]="">{{ 'انتخاب کد رنگ' }}</a></li>
        <li><a [routerLink]="">{{ 'مرکز ترکیب رنگ' }}</a></li>

      </ul>
    </li>
    <li class="mega"><a [routerLink]="">{{ 'ابزار'  }}</a>
      <ul class="mega-menu feature-menu product-menu">
        <li>
          <div class="container">
            <div class="row">
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/sandpaper.jpg" alt="">
                  <h6>{{ 'انواع سنباده'  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/ghaltak.jpg" alt="">
                  <h6>{{ ' غلطک نقاشی '  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/kardak.jpg" alt="">
                  <h6>{{ 'لیسه و کاردک'  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/chasb.jpg" alt="">
                  <h6>{{ 'انواع چسب'  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/gloves.jpg" alt="">
                  <h6>{{ 'دستکش کار'  }}</h6>
                </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/ladder.jpg" alt="">
                  <h6>{{ 'انواع نردبان' }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/nail.jpg" alt="">
                  <h6>{{ ' پیج،میخ،رولپلاک'  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/tiner.jpg" alt="">
                  <h6>{{ 'تینر و حلّال'  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/oil.jpg" alt="">
                  <h6>{{ 'انواع روغن'  }}</h6>
              </a>
              </div>
              <div class="col-xl-3">
                <a [routerLink]="">
                  <img src="assets/images/feature/putty.jpg" alt="">
                  <h6>{{ 'پودر و خمیر بتونه' }}</h6>
              </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="mega"><a [routerLink]="">{{ 'رنگ'  }}</a>
      <ul class="mega-menu full-mega-menu" id="mega-menu">
        <li>
          <div class="container">
            <div class="row">
              <div class="col mega-box">
                <div class="link-section">
                  <div class="menu-title"><h5>{{ 'رنگ های روغنی' }}</h5>
                  </div>
                  <div class="menu-content">
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ روغنی براق' }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ روغنی نیمه براق'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ روغنی مات' }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ بتونه روغنی'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ آستری '  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'ضدزنگ'  }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col mega-box">
                <div class="link-section">
                  <div class="menu-title"><h5>{{ ' رنگ های پلاستیک پایه آب' }}</h5>
                  </div>
                  <div class="menu-content">
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ ' رنگ پلاستیک ممتاز'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ پلاستیک درجه 1'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ مخصوص بتونه'  }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col mega-box">
                <div class="link-section">
                  <div class="menu-title"><h5>{{ 'رنگ های آکریلیک پایه آب'  }}</h5>
                  </div>
                  <div class="menu-content">
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ ' رنگ آکریلیک براق'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ آکریلیک نیمه براق'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ آکریلیک مات'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'رنگ مخصوص بتونه'  }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col mega-box">
                <div class="link-section">
                  <div class="menu-title"><h5>{{ 'ابزار نقاشی'  }}</h5>
                  </div>
                  <div class="menu-content">
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'قلم مو'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'غلطک و سینی'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'سنباده و پولیش'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'انواع تینر'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'بتونه و پودر بتونه'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'ضدزنگ'  }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col mega-box">
                <div class="link-section">
                  <div class="menu-title"><h5>{{ 'ابزار برقی و غیره برقی'  }}</h5>
                  </div>
                  <div class="menu-content">
                    <ul>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'دریل و انواع مته'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'دستگاه برش و انواع صفحه برش'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'شیرآلات '  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'دستگیره و قفل'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'شیلنگ و انواع بست'  }}</a></li>
                      <li><a [routerLink]="'/home/left-sidebar/collection/all'">{{ 'پیج، میخ و آویز'  }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row banner-padding">
            <div class="col-xl-6">
              <a [routerLink]="'/home/left-sidebar/collection/all'" class="mega-menu-banner"><img src="assets/images/mega-menu/1.jpg" class="img-fluid d-none d-xl-block " alt=""></a>
            </div>
            <div class="col-xl-6">
              <a [routerLink]="'/home/left-sidebar/collection/all'" class="mega-menu-banner"><img src="assets/images/mega-menu/2.jpg" class="img-fluid d-none d-xl-block" alt=""></a>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</nav>
